.statistics{
    background:#2563EB;
    padding:80px 70px;
    color:white;
    text-align:center;
}

.stats-heading h2{
    font-size:38px;
    margin-bottom:15px;
}

.stats-heading p{
    width:70%;
    margin:auto;
    line-height:28px;
    margin-bottom:60px;
}

.stats-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.stat-card{
    background:white;
    color:#1E293B;
    border-radius:15px;
    padding:35px 20px;
    transition:0.3s;
}

.stat-card:hover{
    transform:translateY(-8px);
}

.stat-icon{
    font-size:45px;
    color:#2563EB;
    margin-bottom:20px;
}

.stat-card h1{
    color:#2563EB;
    margin-bottom:10px;
    font-size:42px;
}

.stat-card p{
    color:#555;
}